

.selectInputItem{
	width: 100%;
	font-size: 1.4rem;
	padding: 0.5em 1.5em;
	color:white;
	border: 2px solid rgba(255, 255, 255, 0.507);
	background-color: transparent;
	border-radius: .5rem;
}

.selectInputItem option{
	margin-block: 2em;
	background-color: #131516;
}

.selectInputItem:focus{
	border-color: #0bcaff;
}